body {font-size: 14px; font-family: "Roboto"; background: #fff; }
input,
button,
select,
a {color:#009DDA; transition:all 0.5s; outline: 0 !important;}
a:focus,
a:hover {color:#0B7CA5; text-decoration: none;}

h1,h2,h3,h4,h5,h6 {font-weight: 100;}
header {background:#222 url('img/header_border.png') repeat-y right top; width:20%; float:left;}
header .logo {padding: 15px; max-width: 298px; margin:0 auto;}
header .logo h2 {font-size:16px; font-weight: normal; color:#eee;}
header .logo img {width: 100%;}
header .nav-bottom h5 {margin-top:0px; padding-top:3px;}
header .search  {margin-bottom:15px;}
header .search {float:left; width:100%;}
header .search form{float:left; width:100%;}
header .search input ,
header .search select {width: 40%; color:#ddd !important; margin:0px; padding:10px 15px; border:0px; display: block; float:left; height:40px; background:#222; border:1px solid #333; border-width: 1px 1px 1px 0;}
header .search button {width:20%; color:#fff; height:40px; background:#333; border:1px solid #444; border-width: 1px 1px 0 0;}
header .search button:hover {background:#444; border-color:#555;}
header #main_navigation {width: 100%;}
header #main_navigation ul {width: 100%; padding:0px; margin:0px; list-style: none; float:left;}
header #main_navigation ul li {position: relative; float:left; width: 100%;}
header #main_navigation ul li > a {background-image: url('img/right_arrow.png'); background-position: right center; background-repeat: no-repeat;} 
header #main_navigation ul .parent.active > a {background-image: url('img/left_arrow.png')}
header #main_navigation ul li a {padding:10px 15px; background-color:#2d2d2d; position: relative; z-index: 2; float:left; width: 100%;color:#eee; border-top:1px solid rgba(255,255,255,0.08);border-bottom:1px solid rgba(0,0,0,0.08); border-right:1px solid #494949;border-left:1px solid rgba(0,0,0,0.08);}
header #main_navigation ul li a i {color:#009DDA; margin-right: 10px; opacity: 0.5; transition: all 0.5s;}
header #main_navigation ul li.active a i,
header #main_navigation ul li.current a i,
header #main_navigation ul li:hover a i { opacity: 1}
header #main_navigation ul li:hover a,
header #main_navigation ul li.active a {background-color:#393939; border-left:4px solid #009DDA; border-top:1px solid rgba(255,255,255,0.12);border-bottom:1px solid rgba(0,0,0,0.12);}
header #main_navigation ul li.current a {background-color:#393939;border-left:4px solid #009DDA; }
header #main_navigation ul li.current ul li a {color:#eee;} 
header #main_navigation ul li ul {position: absolute; left:0%; top:0px; transition: all 0.5s; z-index: 1;}
header #main_navigation ul li.active ul {position: absolute; left:100%; top:0px; transition: all 0.5s; }
header #main_navigation ul li ul li {min-width: 200px;}
header #main_navigation ul li ul li a {background-color:#222 !important; background-image: none;  border-left:0px !important;}
header #main_navigation ul li ul li a:hover {background-color:#333 !important;}

.main_content {width: 80%; float:left;background-color: #eee;}
.main_content .section_header h1 {color:#222; float:left;font-size:28px;}
.main_content .section_header h1 span {color:#009dda; }
.main_content .section_header .section_functions {float:right; margin-top:25px;}
.main_content .section_main {background:#fff; border:1px solid #ddd; margin-top:15px; border-top-color:#b7b7b7; border-bottom-color:#b7b7b7; padding:15px;
-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.19) inset;
-moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.19) inset;
box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.19);
}
.main_content .section_main.undertab {margin-top:0px;}
.item-sidebar {width:20%; float:left; background: url('img/subheader_border.png') repeat-y right top;}
.item-sidebar ul {list-style: none; padding:0px;}
.item-sidebar ul li {float:left; width: 100%;}
.item-sidebar ul li a{padding:5px 15px; border:1px solid #ddd; background:#eee; color:#222; float:left;width: 100%;}
.item-sidebar ul li.active a { border-right:1px solid #fff; background:#fff;}
.main_content .section_main .item-main {width:80%; float:left; border:1px solid #ddd; border-left:0px;}
.main_content .breadcrumbs .section_main {padding: 5px 15px;}
.main_content .breadcrumbs p {display: inline;}


/* Generic Table */
table {width: 100%;}
table thead tr {border-bottom:1px solid #ddd;}
table thead tr th {  padding:5px;}
table tbody tr td { padding:5px;}
table tbody tr.alt {background:#f4f4f4 none repeat scroll 0 0;} 
table tbody tr:hover {background: rgba(0,0,0,0.2); }

/* Tabs */

.tab {border-radius: 0px; background:#2d2d2d; color:#fff; border-color:rgba(255,255,255,0.4); margin-left: 5px; border-radius: 5px 5px 0 0; border-bottom:0px;}
.tab:hover {color:#fff; background:#424242;}

/* Generic Form */

.form_section h4 {width: 100%; }
.form_section .form-group {width: 100%;}
.form_section input,
.form_section textarea,
.form_section select { width:100%;}

.tab_content {display: none;}
.tab_content.active {display: block;}
.nav-bottom {background:#222222; width: 100%; min-height:40px; z-index: 2; position: relative; float:left; border-right:1px solid #494949;}
.nav-bottom h5 {color:#eee; width: 100%; text-align: center; padding:5px;}
.nav-bottom h5 span {color:#009DDA;}


/* Product Page */
.section_search { margin:15px -15px;}

#schedule_list .item {background:#fafafa; border:1px solid #ddd;padding-bottom:15px; margin-bottom:15px;}

#schedule_list .item .ticket {background:#777; border-bottom:1px solid rgba(255,255,255,0.08);  border-top:1px solid rgba(0,0,0,0.08); padding:5px 15px; color:#fff; float:left; width:100%;}
#schedule_list .item .ticket:hover {background:#888;}
#schedule_list .item .ticket p {display: inline; line-height: 22px;}
#schedule_list .item .ticket p.important {font-weight: bold; text-transform: uppercase; color:#f90707; margin-right:5px;}
#schedule_list .item .ticket a {}
#schedule_list .item .ticket .btn-info {padding-top:0px; padding-bottom:0px;}

/* Blue */
#schedule_list .item .ticket.type1 {background:#31B0D5; }
#schedule_list .item .ticket.type1:hover {background:#5bc0de; }
#schedule_list .item .ticket.type1 .btn-info {background:#2d2d2d; border:1px solid rgba(255,255,255,0.08);}
#schedule_list .item .ticket.type1 .btn-info:hover {background:#393939; border:1px solid rgba(255,255,255,0.08);}


/* Red */
#schedule_list .item .ticket.type2 {background:#b36363;  }
#schedule_list .item .ticket.type2:hover {background:#bf7070; }
#schedule_list .item .ticket.type2 .btn-info {background:#2d2d2d; border:1px solid rgba(255,255,255,0.08);}
#schedule_list .item .ticket.type2 .btn-info:hover {background:#393939; border:1px solid rgba(255,255,255,0.08);}

/* Green */
#schedule_list .item .ticket.type3 {background:#79a46b; }
#schedule_list .item .ticket.type3:hover {background:#91b784; }
#schedule_list .item .ticket.type3 .btn-info {background:#2d2d2d; border:1px solid rgba(255,255,255,0.08);}
#schedule_list .item .ticket.type3 .btn-info:hover {background:#393939; border:1px solid rgba(255,255,255,0.08);}

#schedule_list .item .ticket.type1 p.important,
#schedule_list .item .ticket.type2 p.important,
#schedule_list .item .ticket.type3 p.important {color:#333;}

.filter {float:left; width:100%;}
.schedule_filter {float:left; width: 33.33%; margin-top:20px;}
.schedule_filter label {float:left; margin-right: 15px; margin-bottom:0px;  width:40%;}
.schedule_filter input,
.schedule_filter select {width: 100%; color:#222 !important; margin:0px; padding:10px 15px; border:0px; display: block; float:left; height:40px; background:#fff; border:1px solid #ddd;}
/* Responsive */
hr  {width: 100%; float:left; clear:left; height:1px; background:#ddd; margin-bottom:20px; margin-top:5px;}


@media screen and (max-width: 1080px) {
	header #main_navigation ul li ul {left:-50%; }
}
@media screen and (max-width: 780px) {
	header #main_navigation ul li ul {left:-150%; }
	header #main_navigation ul li a {text-align: center;}
}
@media screen and (max-width: 480px) {
	header #main_navigation ul li ul {left:-250%; }
}